[Unit]
Description=Apache Tomcat
After=network.target

[Service]
Type=forking
User=tux

Environment="JAVA_HOME=/usr/lib/jvm/java-11-openjdk-amd64"
Environment="JAVA_OPTS=-Djava.security.egd=file:///dev/urandom"
Environment="CATALINA_BASE=/home/tux/opt/tomcat"
Environment="CATALINA_HOME=/home/tux/opt/tomcat"
Environment="CATALINA_PID=/home/tux/opt/tomcat/temp/tomcat.pid"
Environment="CATALINA_OPTS=-Xmx2g -XX:MaxMetaspaceSize=256m"

ExecStart=/home/tux/opt/tomcat/bin/startup.sh
ExecStop=/home/tux/opt/tomcat/bin/shutdown.sh

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target